* {
    padding: 0;
    margin: 0;
}

.cabecalho{
    background-color: #98336C;
    background: linear-gradient(90deg, #486288 0%, #98336C 100%);
    text-align: center;
}

.foto{
    border-radius: 50%;
}

.social{
    display: flex;
    border: 1px solid red;
    justify-content: center;
}

.social img{
    margin-right:;
}

.menu{
    background-color: #718377;
}

.menu li{
    display: inline;
    margin-right: 15px;
}

.menu a{
    color: azure;
    text-decoration: none;
}

.menu a:hover{
    color: goldenrod;
}

.titulo{
    color: #ccc;
    text-align: center;
}

